.visi-container[data-v-123feb23]{filter:url(#goo) drop-shadow(0px -2px 0px transparent)}.visi-box[data-v-123feb23]{clip-path:polygon(0% 5%,7% 5%,7% 0%,96% 0%,96% 17%,100% 17%,100% 92%,92% 92%,92% 100%,8% 100%,8% 97%,0% 97%)}
